.bet {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 220px;
  height: 220px;
  background-image: url(../media/table_background.png);
  background-size: cover;
  border: 3px solid #3D607B;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -khtml-border-radius: 10px;
}

.bet_head, .bet_foot {
  display: flex;
	max-height: 25px;
  max-width: 208px;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid #3D607B;
  padding: 0 5px 0 5px;
}

.bet_head {
  border-top: none;
}

.bet_foot {
  border-bottom: none;
}

.bet_head p, .bet_foot p {
  font-family: 'Russo One';
  text-align: center;
  color: #3D607B;
}

#header_bet {
	background-color: #2C506C;
}

#time_to_start_match {
	height: 40px;
	min-width: 75px;
	margin-top: 20px;
	text-align: center;
	color: #fff;
	padding: 5px;
	border: 2px solid #3B89C3;
	border-radius: 10px;
	-webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   -khtml-border-radius: 10px;
}

#info_about_bet {
	color: #fff;
	margin-top: 5px;
	margin-bottom: 25px;
}

#body_bet {
	background-color: #3F637F;
	padding-top: 0;
}

#type_of_bet {
	height: 35px;
	width: 110px;
	margin-top: -17px;
	margin-left: auto;
	margin-right: auto;
	padding: 3px;
	background-color: #3F637F;
	text-align: center;
	color: #fff;
	border: 2px solid #D83E20;
	border-radius: 20px;
	-webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   -khtml-border-radius: 20px;
}

#bet_on {
	margin-top: 5px;
	color: #fff;
}

#bet_on span {
	color: #D83E20;
}

#choose_of_command {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}

#modal_l_team_name a, #modal_r_team_name a {
	padding: 0 15px 0 15px;
	color: #fff;
	font-family: 'Russo One';
	text-align: center;
	border: 2px solid #2C506C;
	border-radius: 20px;
	-webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   -khtml-border-radius: 20px;
}

#modal_l_team_logo, #modal_r_team_logo {
	display: flex;
	height: 100px;
	width: 100px;
	padding: 5px;
	background-color: #2C506C;
	border-radius: 7px;
	-webkit-border-radius: 7px;
   -moz-border-radius: 7px;
   -khtml-border-radius: 7px;
}

#modal_l_team_logo img, #modal_r_team_logo img  {
	display: block;
	margin: auto;
}

#coef_l_team, #coef_r_team {
	display: flex;
	margin-top: 30px;
	align-items: center;
}

#coef_l_team a, #coef_r_team a {
	height: 25px;
	padding: 0 7px 0 7px;
	color: #B2D8F5;
	text-align: center;
	font-family: 'Russo One';
	border: 1px solid #B3CDE0;
}

#coef_l_team a:hover, #coef_r_team a:hover {
	color: #BC89E6;
	-webkit-box-shadow: 0 0 10px rgba(188,214,235, 1);
    box-shadow: 0 0 10px rgba(188,214,235, 1);
}

#modal_vs {
	display: flex;
	margin-top: 50px;
	align-items: center;
}

#modal_vs p {
	font-size: calc(2px + 2vw);
	color: #fff;
	font-family: 'Russo One';
}

#checkmark_l, #checkmark_r {
	display: none;
	position: relative;
	top: -98px;
	right: -75px;
	color: #fff;
	font-size: 20px;
}

#choose_of_sum label {
	font-size: 1.2em;
	font-weight: 500;
	color: #fff;
}

#choose_of_sum input {
	height: 25px;
	padding: 2px 2px 3px 5px;
	outline: none;
	background-color: #2C506C;
	color: #fff;
	border: none;
	border-radius: 10px;
	-webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   -khtml-border-radius: 10px;
}

#choose_of_sum img {
	position: relative;
	left: -25px;
}

#min_sum_of_bet {
	color: #fff;
}

#your_winnings {
	text-align: center;
	font-size: 1.2em;
	font-weight: 500;
	color: #fff;
}

#footer_bet {
	background-color: #2C506C;
	padding-top: 0;
}

#btn_do_bet {
	position: relative;
	top: -20px;
	height: 40px;
	width: 250px;
	background-color: #6CA4CE;
	outline: none;
	color: #fff;
	font-weight: 700;
	font-size: 1.2em;
	border: none;
	border-radius: 20px;
	-webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   -khtml-border-radius: 20px;
}

#btn_do_bet:hover {
	-webkit-box-shadow: 0 0 10px #6CA4CE;
    box-shadow: 0 0 10px #6CA4CE;
}

#btn_do_bet:active {
	box-shadow: none;
	-webkit-box-shadow: none;
}

.bet_on_coef {
	color: #BC89E6;
	-webkit-box-shadow: 0 0 10px rgba(188,214,235, 1);
    box-shadow: 0 0 10px rgba(188,214,235, 1);
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

@font-face {
	font-family: 'Russo One';
	src: url("../Fonts/Russo One.ttf");
}
