.bet {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 220px;
  height: 220px;
  background-image: url(../media/table_background.png);
  background-size: cover;
  border: 3px solid #3D607B;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -khtml-border-radius: 10px;
}

.bet_head, .bet_foot {
  display: flex;
	max-height: 25px;
  max-width: 208px;
  margin-left: auto;
  margin-right: auto;
}

.bet_head_left {
  height: 25px;
  width: 20px;
  background-image: url("../media/tl_angle.png");
  background-position: right;
  background-repeat: no-repeat;
}

.bet_head_right {
  height: 25px;
  width: 20px;
  background-image: url("../media/tr_angle.png");
  background-position: left;
  background-repeat: no-repeat;
}

.bet_head_center {
  border-bottom: 3px solid #3D607B;
  padding: 0 5px 0 5px;
}

.bet_foot_centre {
  border-top: 3px solid #3D607B;
  padding: 0 5px 0 5px;
}

.bet_head_center p, .bet_foot_centre p {
  font-family: 'Russo One';
  text-align: center;
  color: #3D607B;
}

.bet_foot_left {
  height: 25px;
  width: 20px;
  background-image: url("../media/bl_angle.png");
  background-position: right;
  background-repeat: no-repeat;
}

.bet_foot_right {
  height: 25px;
  width: 20px;
  background-image: url("../media/br_angle.png");
  background-position: left;
  background-repeat: no-repeat;
}

.bet_body {
  display: flex;
  justify-content: space-between;
  height: 164px;
  width: 214px;
  padding: 5px 10px 5px 10px;
}

.l_team img, .r_team img {
  height: 154px;
}

.bet_coef_and_vs {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 90px;
  height: 104px;
  margin-top: 15px;
}

.l_coef, .r_coef {
  width: 60px;
  text-decoration: none;
  outline: none;
  font-family: 'Russo One';
  text-align: center;
  color: #3D607B;
  background-color: #8D99A3;
  padding: 5px;
}

.l_coef:hover, .r_coef:hover {
  width: 75px;
  background-color: #527EA0;
  box-shadow: 0 0 10px #527EA0;
}

.l_coef {
  border-radius: 0 10px 10px 0;
}

.l_coef:hover {
  padding-left: 20px;
}

.r_coef {
  border-radius: 10px 0 0 10px;
  margin-left: 30px;
}

.r_coef:hover {
  margin-left: 15px;
  padding-right: 20px;
}

.vs {
  margin: 5px auto 5px auto;
}

.vs span {
  font-family: 'Russo One';
  text-align: center;
  color: #3D607B;
  font-size: 1.5em;
}

#modal_content_bet {
  background-color: #2C506C;
}

#header_bet {
  background-color: #2C506C;
	padding: 0 0 10px 0;
}

#info_about_match {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  z-index: 1010;
}

.tournament {
  align-self: center;
  padding: 5px 10px 10px 15px;
  background-color: #204058;
  border-radius: 0 10px 10px 0;
}

.tournament p, .date_and_time_of_match p, .type_of_bet p {
  color: #E1E1E1;
  text-align: center;
  font-weight: 500;
}

.date_of_match, .tournament p, .type_of_bet p {
  margin-bottom: 0;
}

.support_block {
  height: 50px;
  width: 135px;
}

.type_of_bet {
  background-color: #3F637F;
  padding: 0 15px 5px 15px;
  border: 2px solid #77BAEC;
  border-radius: 20px;
  margin-bottom: -16px;
}

#body_bet {
  position: relative;
	top: -10px;
	background-color: #204058;
	border-radius: 10px 10px 0 0;
	color: #79BCF0;
  padding-top: 17px;
  z-index: 1005;
}

.choose_type_of_bet {
  color: #E1E1E1;
  text-align: center;
  font-weight: 500;
}

.choose_team {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  padding: 0 25px 0 25px;
  margin-bottom: 10px;
}

.l_team_name p, .r_team_name p {
  color: #E1E1E1;
  text-align: center;
  font-weight: 500;
  margin-bottom: 0;
  font-family: "Russo One";
}

.l_team_logo, .r_team_logo {
  height: 100px;
  width: 100px;
  background-color: #2C506C;
  border-radius: 10px;
}

.modal_vs {
  margin: 0 20px 0 20px;
}

.l_team_coef {
  height: 35px;
  padding: 5px 15px 10px 10px;
  background-color: #8D99A3;
  color: #000;
  font-weight: 500;
  text-align: center;
  font-family: "Russo One";
  border-radius: 0 10px 10px 0;
  margin-top: 55px;
}

.r_team_coef {
  height: 35px;
  padding: 5px 10px 10px 15px;
  background-color: #8D99A3;
  color: #000;
  font-weight: 500;
  text-align: center;
  font-family: "Russo One";
  border-radius: 10px 0 0 10px;
  margin-top: 55px;
}

#choose_of_sum label {
	font-size: 1.2em;
	font-weight: 500;
	color: #fff;
}

#choose_of_sum input {
	height: 25px;
	padding: 2px 2px 3px 5px;
	outline: none;
	background-color: #2C506C;
	color: #fff;
	border: none;
	border-radius: 10px;
	-webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   -khtml-border-radius: 10px;
}

#choose_of_sum img {
	position: relative;
	left: -25px;
}

#min_sum_of_bet {
  text-align: center;
  font-size: 0.6em;
	color: #fff;
  padding-left: 35px;
  margin-bottom: 0;
}

#your_winnings {
	font-size: 1.2em;
	font-weight: 500;
	color: #fff;
}

#footer_bet {
	background-color: #2C506C;
	padding-top: 0;
}

.btn_do_bet {
  display: flex;
  width: 206px;
  padding: 0 30px 5px 30px;
  background-color: #3F637F;
  border: 2px solid #77BAEC;
  border-radius: 20px;
  color: #E1E1E1;
  text-align: center;
  font-weight: 700;
  font-size: 1.2em;
  margin: 0 auto -35px auto;
}

.btn_do_bet:hover {
	-webkit-box-shadow: 0 0 10px #6CA4CE;
    box-shadow: 0 0 10px #6CA4CE;
}

.btn_do_bet:active {
	box-shadow: none;
	-webkit-box-shadow: none;
}

.bet_on_coef {
	color: #BC89E6;
	-webkit-box-shadow: 0 0 10px rgba(188,214,235, 1);
    box-shadow: 0 0 10px rgba(188,214,235, 1);
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

@font-face {
	font-family: 'Russo One';
	src: url("../Fonts/Russo One.ttf");
}
